<div>

<%= form_for @adie, url: add_adie_path do |f|%>

  <div class ="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% end %>
  </div>
  <div class ="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
    <% end %>
  </div>
  <div class ="field">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
    <% end %>
  </div>


</div>
