<div>
<%= form_for @adie, url: add_adie_path do |f|%>

  <div class ="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.label "Upload local file:" %><br />
  <%= f.file_field :adatar %>
  <%= f.hidden_field :adatar_cache %>

  <%= f.submit "Submit" %>

<% end %>
</div>
