<div class="errors">
  <ul class='listErrors'>
  </ul>
</div>
<%= form_for @adie, url: reset_password_path do |f|%>
  <div class='field'>
    <%= f.label :password, "New password:", class: 'newPass' %>
    <%= f.password_field :password %>
  </div>
  <div class='field'>
    <%= f.label :password_confirmation, "Confirm your new password", class: 'confirm' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class = "field">
    <%= f.label "Upload local file:" %>
    <%= f.file_field :adatar %>
    <%= f.hidden_field :adatar_cache %>
  </div>
<% end %>