<% @problem.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>

<div>
<%= form_for @problem, url: new_problem_path do |f| %>
<div class='field'>
  <%= f.label :type %><br>
  <%= f.select(:type, ['Rails','Ruby','CSS/HTML','JavaScript','Other'], class: 'item') %> <br><br>
</div>
<div class='field'>
  <%= f.label :description, "Tell me your woes:" %><br>
  <%= f.text_area :description, class: "form-control", rows: "5"%><br><br>
</div>
<div class='field'>
  <%= f.label :estimate, "Estimated time to solve the problem:" %><br>
  <%= f.select(:estimate, ['5 minutes','20 minutes','45 minutes','possibly hours','Not Sure','someone have mercy on my soul'])%> <br><br>
</div>
<% end %>
