<h3>I'm sorry you're having a problem!</h3>

<%= link_to 'Create New Problem', new_problem_path %> <br>


<h2>Current Help Line </h2>

<table>
  <thead>
    <tr>
      <th>Adie, holla! </th>
      <%= button_to "Sign up", sign_up_path %>
      <th>Type of problem</th>
      <th>Time Estimate</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody> 
  <% @problems.each do |problem| %>
    <td><%= Adie.find(problem.adie_id).name %></td>
    <td><%= problem.type %></td>
    <td><%= problem.estimate %></td>
    <td><%= problem.description %></td>


    <td><%= form_for 'helped' do |f| %>
      <%= f.label :"I've been helped!" %>
          <%= f.check_box(:helped) %>
          <%= f.submit %>
    <% end %>

  </td>

  </tbody>
  <% end %>
</table>
  
     