<h3>All your Problems are Belong to Us</h3>
<hr>

<%#= link_to 'Create New Problem', new_problem_path %> <br>
<div class="problem_button">
  <%= button_to 'Create New Problem', new_problem_path, method: :get, class: "problem" %> 
</div>

<h2>Current Help Line </h2>

<table>
  <thead>
    <tr>
      <th> # in line </th>
      <th> Adie, holla! </th>
      <th> Type of problem </th>
      <th> Time Estimate </th>
      <th> Description </th>
      <th> Helped? </th>
    </tr>
  </thead>
  <tbody> 
    <% @problems.sort_by {|problem| problem.created_at}.each_with_index do |problem, n| %>
      <tr>
          <td><%= n + 1 %></td>
          <td>
          <%= problem.adie_id %></td>
          <td><%= problem.type %></td>
          <td><%= problem.estimate %></td>
          <td><%= problem.description %></td>
          <td><%= button_to "I've been helped!", helped_path(problem.id), class: "helped" %></td>
      </tr>
    <% end %> 
    
  </tbody>
   
</table>
<div class="relax">
  <%= button_to "RELAX!", "http://edgecats.net/", method: :get, class: "cats" %>
</div>
     