<h3>All your Problems are Belong to Us</h3>
<hr>

<%#= link_to 'Create New Problem', new_problem_path %> <br>
<h4> Hi <%= session[:adie]%>. <%=link_to "DON'T PANIC.", "http://edgecats.net/" %> </h4>

<div class="problem_button">
  <%= button_to 'Create New Problem', help_me_path, method: :get, class: "problem" %>
</div>

<div class="queue_chart">
  <h2>Current Help Line </h2>
  <table>
    <thead>
      <tr>
        <th> # in line </th>
        <th> Adie, holla! </th>
        <th> Type of problem </th>
        <th> Time Estimate </th>
        <th> Description </th>
        <th> Helped? </th>
      </tr>
    </thead>
    <tbody> 
      <% @problems.sort_by {|problem| problem.created_at}.each_with_index do |problem, n| %>
        <tr>
          <td><%= n + 1 %></td>
          <td><%= image_tag(Adie.find(problem.adie_id).adatar_url, :width => 50) %>
          <%= Adie.find(problem.adie_id).name %></td>
          <td><%= problem.type %></td>
          <td><%= problem.estimate %></td>
          <td><%= problem.description %></td>
          <td>
            <% if session[:adie_id] == problem.adie_id && problem.helped == 'needs help' %>
              <%= button_to "I'm being helped!", helped_path(problem.id), class: "helped" %>
              <% elsif session[:adie_id] == problem.adie_id && problem.helped == 'being helped' %>
              <%= button_to "I've been helped!", helped_path(problem.id), class: "helped" %>
            <% end %> 
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>

     