<%= form_tag sign_in_path do %>
<div class='sign-field'>
  <%= label_tag :name, nil, class: 'sign' %> 
  <%= select_tag :name, options_for_select(Adie.where(ta: false).map { |u| [u.name, u.id] }) %><br>
</div>
<div class='sign-field'>
  <%= label_tag :password, nil, class: 'pass' %> 
  <%= password_field_tag :password, params[:password] %><br>
</div>
<div class='sign-field'>
  <%= submit_tag "Sign-in!", class: "btn btn-success" %>
</div>
<% end %>