 <table id="adies">
    <thead>
      <tr>
        <th> # in line </th>
        <th> Adie, holla! </th>
        <th> Type of problem </th>
        <th> Time Estimate </th>
        <th> Description </th>
        <th> Helped? </th>
      </tr>
    </thead>
    <tbody> 
      <% @problems.sort_by {|problem| problem.created_at}.each_with_index do |problem, n| %>
        <tr>
          <td style='width: 5%'><%= n + 1 %></td>
          <td style='width: 5%'><%= problem.adie.name %></td>
          <td style='width: 10%'><%= problem.type %></td>
          <td style='width: 10%'><%= problem.estimate %></td>
          <td style='width: 60%'><%= problem.description %></td>
          <td style='width: 10%'><%= problem.helped %></td>
        </tr>
      <% end %>
    </tbody>
  </table>