<!DOCTYPE html>
<html>
  <head>
    <title>HelpLine</title>
      <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    <%= link_to image_tag('questionmark.png', height: 80, class: 'logo'), problems_path %>
    <div class='center'>
    <h1 id="fontFancy">Here, let me help you with that.</h1>
        <% if current_adie %>
        <span class='head_links'>
          <%= button_to 'Sign out', sign_out_path, class: "btn btn-default" %>
          <%= link_to 'Profile', profile_path, class: 'btn btn-default', id: 'profilePage', remote: true %>
          </span>
        <% else %>
          <br>
          <br>
        <% end %>
      </div>
    <hr>
    <div class="container">
      <div class='center'>
        <%= flash.notice %>
      </div>
      <%= yield %>
    </div>

  <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="fontFancy">Please set your profile information</h4>
      </div>
      <div class="modal-body">
        <%= render 'adies/reset' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="resetProfile">Reset</button>
      </div>
    </div>
  </div>
</div>


  
  </body>
</html>
