<!DOCTYPE html>
<html>
  <head>
    <title>HelpLine</title>
     <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="60" />
  </head>
  <body>
    <div class='ui center aligned header'>
      <h1> Here, let me fix that for you.</h1>
      <span class='head_links'>
        <% if session[:adie] %>
          <%= button_to 'Sign out', sign_out_path, class: 'ui left attached mini button' %>
          <%= button_to 'Profile Page', profile_path, method: :get, class: 'ui right attached mini button' %>
        <% else %>
          <%= button_to 'Sign in', '/', method: :get, class: 'nav' %>
        <% end %>
      </span>
    </div>
    <hr>
    <div class="container">
      <%= flash.notice %>
      <%= yield %>
    </div>
  
  </body>
</html>
