<!DOCTYPE html>
<html>
  <head>
    <title>HelpLine</title>
     <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="60" />
  </head>

  <body>
    <div class='header'>
      <h1> Need Help?</h1>
    </div>
    <div class='container'>
      <div class= 'navbar'>
      <ul>
      <%#= link_to 'See/Create a problem!', problems_path %>
        <% if session[:adie] %>
          <li><%= button_to 'Sign out', sign_out_path, class: 'nav' %></li>
          <li><%= button_to 'Profile Page', profile_path, method: :get, class: 'nav'%></li>
        <% else %>
          <li><%= button_to 'Sign in', '/', method: :get, class: 'nav' %></li>
        <% end %>
      </ul>
    </div>
      <%= flash.notice %>
      <%= yield %>
    </div>
  
  </body>
</html>
