<!DOCTYPE html>
<html>
  <head>
    <title>HelpLine</title>
      <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <%= link_to image_tag('questionmark.png', height: 80, class: 'logo'), problems_path %>
    <div class='center'>
    <h1 id="fontFancy">Here, let me help you with that.</h1>
        <% if current_adie %>
        <span class='head_links'>
          <%= button_to 'Sign out', sign_out_path, class: "btn btn-default" %>
          <%= link_to 'Profile', profile_path, class: 'btn btn-default', id: 'profilePage', remote: true %>
          <% if current_adie.admin? %>
             <%= link_to 'Create An Adie', sign_up_path, class: 'btn btn-default', id: 'profilePage' %>
          <% end %>
          </span>
        <% else %>
          <br>
          <br>
        <% end %>
      </div>
    <hr>
    <div class="container">
      <div class='center flash_notice'>
        <%= flash.notice %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
