<!DOCTYPE html>
<html>
  <head>
    <title>HelpLine</title>
     <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='header'>
      <h1> Need Help?</h1>
    </div>

    <div class= 'navbar'>
      <%#= link_to 'See/Create a problem!', problems_path %>
      <% if session[:adie] %>
        <%= button_to 'Sign out', sign_out_path, class: 'sign_out' %>
        <%= button_to 'Reset your password', profile_path, method: :get %>
        <% else %>
        <%= button_to 'Sign in', '/', method: :get, class: 'sign_out' %>
      <% end %>
    </div>

    <div class='container'>
      <%= flash.notice %>
      <%= yield %>
    </div>
  
  </body>
</html>
